### Module 4 - Probability Exercises

Most of the concepts we discussed in this module were theoretical. Examples were used to explain how to apply conditional probability concepts on dataset columns. The exercises in this notebook will be similar to what you have seen in lab and practice notebooks. 

Refer to your labs: [Bayes](../labs/Bayes.ipynb), [Conditional_Probability](../labs/Conditional_Probability.ipynb) and [Distributions](../labs/Distributions.ipynb).  

Practice notebooks: [Conditional_Probability](../practices/Conditional_Probability.ipynb) and [Bayes](../labs/Bayes.ipynb).

Let's recall what is an independent and dependent event through below activity. Consider an event of rolling two dice. The sample space $S=\{\{1,1\}, \{1,2\}, \{1,3\},....,\{6,6\}\}$ contains 36 possible combinations on two dice.

<span style="color:#1871d6; font-weight:400">Activity 1.a: </span> What is the probability of getting a 2 on either dice?

In [1]:
# Your code for activity 1.a goes here...
library(dplyr)
library(prob)

S <- rolldie(2, makespace = TRUE)
S
# Define the event A such that it has all possible combinations including a 2 {{1,2}, {2,2}, {2,3},...} 
B <- .02777778 * 11
B
# YOUR CODE HERE 
# A = {{1,2}, {2,2}, {3,2}, {4,2}, {5,2}, {6,2}, {2,1}, {2,3}, {2,4}, {2,5}, {2,6}}

#probability of any possible roll occuring (1/36 = .02777778) * 11 (the amount of instances that include a 2)

#answer = 0.30555558

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: combinat


Attaching package: ‘combinat’


The following object is masked from ‘package:utils’:

    combn


Loading required package: fAsianOptions

Loading required package: timeDate

Loading required package: timeSeries

Loading required package: fBasics

Loading required package: fOptions


Attaching package: ‘prob’


The following objects are masked from ‘package:dplyr’:

    intersect, setdiff, union


The following objects are masked from ‘package:base’:

    intersect, setdiff, union

   X1 X2 probs
1  1  1  0.02777778
2  2  1  0.02777778
3  3  1  0.02777778
4  4  1  0.02777778
5  5  1  0.02777778
6  6  1  0.02777778
7  1  2  0.02777778
8  2  2  0.02777778
9  3  2  0.02777778
10 4  2  0.02777778
11 5  2  0.02777778
12 6  2  0.02777778
13 1  3  0.02777778
14 2  3  0.02777778
15 3  3  0.02777778
16 4  3  0.02777778
17 5  3  0.02777778
18 6  3  0.02777778
19 1  4  0.02777778
20 2  4  0.02777778
21 3  4  0.02777778
22 4  4  0.02777778
23 5  4  0.02777778
24 6  4  0.02777778
25 1  5  0.02777778
26 2  5  0.02777778
27 3  5  0.02777778
28 4  5  0.02777778
29 5  5  0.02777778
30 6  5  0.02777778
31 1  6  0.02777778
32 2  6  0.02777778
33 3  6  0.02777778
34 4  6  0.02777778
35 5  6  0.02777778
36 6  6  0.02777778

[1] 0.3055556

<span style="color:#1871d6; font-weight:400">Activity 1.b: </span> What is the probability of getting a 2 on either dice given that the sum of the two outcomes is less than 6?

In [7]:


# Your code for activity 1.b goes here...

# Define the event A such that it has all possible combinations including 2 {{1,2}, {2,2},...}. 
# A = {{1,2}, {2,2}, {3,2}, {4,2}, {5,2}, {6,2}, {2,1}, {2,3}, {2,4}, {2,5}, {2,6}}
# B = {sum outcomes is less than 6}
# B = {{1,2}, {2,2}, {3,2}, {2,3}, {2,1}, {1,1},{3,1},{4,1},{1,3},{1,4}}
# Define event B such that sum of outcomes is less than 6. 
# Event A is conditional on Event B 

df <- S[c('X1','X2')]
df
library(dplyr)
df %>% mutate(sum = X1 + X2) %>% subset(sum < 6)
df %>% mutate(sum = X1 + X2) %>% subset(sum < 6) %>% count()
df %>% mutate(sum = X1 + X2) %>% subset(sum < 6) %>% subset(X1 == 2 | X2 ==2) %>% count()


# 5 outcomes where sum is less than 6 that include 2 / total amount of outcomes that can result in sum less than 6
Answer = 5 /10
#answer = .5

   X1 X2
1  1  1
2  2  1
3  3  1
4  4  1
5  5  1
6  6  1
7  1  2
8  2  2
9  3  2
10 4  2
11 5  2
12 6  2
13 1  3
14 2  3
15 3  3
16 4  3
17 5  3
18 6  3
19 1  4
20 2  4
21 3  4
22 4  4
23 5  4
24 6  4
25 1  5
26 2  5
27 3  5
28 4  5
29 5  5
30 6  5
31 1  6
32 2  6
33 3  6
34 4  6
35 5  6
36 6  6

   X1 X2 sum
1  1  1  2
2  2  1  3
3  3  1  4
4  4  1  5
7  1  2  3
8  2  2  4
9  3  2  5
13 1  3  4
14 2  3  5
19 1  4  5

  n
1 10

  n
1 5

<span style="color:#1871d6; font-weight:400">Activity 2: </span> Toss a coin twice. The sample space is given by $S = \{HH, HT, TH, TT\}$. Let $A$ = {head occurs} and $B$ = {a head and tail occur}. What are the probabilities $P(A|B)$ and $P(B|A)$?

     Double click here. Enter your answer for activity 2 here.


probability A = .75 
probability B = .5 
````
P(A|B) = probabilty of A occurring given B = 1 


P(B|A) = probability of B occuring given A = 2 head and tail options/3 options total  = .66666667

<span style="color:#1871d6; font-weight:400">Activity 3: </span> We have data about the smoking status versus the gender of people working in a company.

<table>
    <tr>
        <th></th>
        <th colspan="2">gender</th>
        <th>sum</th>
    </tr>
    <tr>
        <td rowspan="2">smoke</td>
        <td>80</td>
        <td>54</td>
        <td>134</td>
    </tr>
    <tr>
        <td>15</td>
        <td>19</td>
        <td>34</td>
    </tr>
    <tr>
        <td>sum</td>
        <td>95</td>
        <td>73</td>
        <td>168</td>
    </tr>
</table>
    
    
3.a) If one person were selected at random from the data set, what is the probability that selected person is female?

3.b) What is the probability that selected person is a smoker?

In [8]:
# Code for Activity 3 goes here -----
# Generate the matrix required to find probabilities

rownames = c('non-smoke','smoke','sum')
colnames = c('female','male','sum')
mat <- matrix(c(80,54,134,15,19,34,95,73,168), nrow = 3, byrow = TRUE, dimnames = list(rownames, colnames))
mat

          female male sum
non-smoke 80     54   134
smoke     15     19    34
sum       95     73   168

In [9]:
# Answer for Activity 3.a goes here -----
# P(Female) =number female / total number 
total = 168 
Number_females = 95
P.Female = Number_females / total

# 95 / 168 
P.Female

[1] 0.5654762

In [10]:
# Answer for Activity 3.b goes here -----
# P(smoker | female) = number of female smokers / total number of females 
female_smokers = 15

P_s_given_f = female_smokers / Number_females

P_s_given_f

# 15 /  95

[1] 0.1578947

<span style="color:#1871d6; font-weight:400">Activity 4: </span>  Load the framingham data from the directory '/dsa/data/all_datasets/framingham/'. Find out the probability of aF randomly subject to have the risk of coronary heart disease given that the subject is a male.

In [13]:
# Code for Activity 4 goes here -----
framingham_data <- read.csv("/dsa/data/all_datasets/framingham/framingham.csv")
head(framingham_data)

  male age education currentSmoker cigsPerDay BPMeds prevalentStroke
1 1    39  4         0              0         0      0
2 0    46  2         0              0         0      0
3 1    48  1         1             20         0      0
4 0    61  3         1             30         0      0
5 0    46  3         1             23         0      0
6 0    43  2         0              0         0      0
  prevalentHyp diabetes totChol sysBP diaBP BMI   heartRate glucose TenYearCHD
1 0            0        195     106.0  70   26.97 80         77     0
2 0            0        250     121.0  81   28.73 95         76     0
3 0            0        245     127.5  80   25.34 75         70     0
4 1            0        225     150.0  95   28.58 65        103     1
5 0            0        285     130.0  84   23.10 85         85     0
6 1            0        228     180.0 110   30.30 77         99     0

In [14]:
# Enter your answer for Activity 4 -----
dia <- with(framingham_data,table(male,TenYearCHD))
colnames(dia) <- c('nonCHDs','CHD')
rownames(dia) <- c('female','male')
addmargins(dia)

        TenYearCHD
male     nonCHDs CHD Sum
  female 2119    301 2420
  male   1477    343 1820
  Sum    3596    644 4240

In [15]:
#P(CHD|M) = p(CHD and male)/p(male) = 343 / 1820
Act_4 <- 343 / 1820
Act_4

[1] 0.1884615

<span style="color:#1871d6; font-weight:400">Activity 5: </span> Find out the probability of randomly selected subject to have the risk of coronary heart disease given subject is less than or equal to 40 years of age.

In [16]:
# P(CHD | age <= 40) = P(CHD and age <= 40) / P(age <= 40)
# Code for activity 5 goes here...

framingham_data$age[framingham_data$age <= 40] <- 1 
framingham_data$age[framingham_data$age > 40] <- 0

head(framingham_data)

  male age education currentSmoker cigsPerDay BPMeds prevalentStroke
1 1    1   4         0              0         0      0
2 0    0   2         0              0         0      0
3 1    0   1         1             20         0      0
4 0    0   3         1             30         0      0
5 0    0   3         1             23         0      0
6 0    0   2         0              0         0      0
  prevalentHyp diabetes totChol sysBP diaBP BMI   heartRate glucose TenYearCHD
1 0            0        195     106.0  70   26.97 80         77     0
2 0            0        250     121.0  81   28.73 95         76     0
3 0            0        245     127.5  80   25.34 75         70     0
4 1            0        225     150.0  95   28.58 65        103     1
5 0            0        285     130.0  84   23.10 85         85     0
6 1            0        228     180.0 110   30.30 77         99     0

In [17]:
dia <- with(framingham_data,table(age,TenYearCHD))
colnames(dia) <- c('nonCHDs','CHD')
rownames(dia) <- c('over 40','equal_or_less_than_40')
addmargins(dia)

                       TenYearCHD
age                     nonCHDs CHD Sum
  over 40               2886    606 3492
  equal_or_less_than_40  710     38  748
  Sum                   3596    644 4240

In [18]:
#P(CHD | age <= 40) = P(CHD and age <= 40) / P(age <= 40)
#Number of people =< 40 with chance of CHD / total number of people =< 40 , 38/748
act5 =38/748
act5
#answer = 0.0508021390374332

[1] 0.05080214

<span style="color:#1871d6; font-weight:400">Activity 6: </span> Find out the probability of randomly selected subject to have the risk of coronary heart disease given that the subject smokes less than 10 cigarettes.

**Hint:** Use a 3-way table to include the variables cigsPerDay, TenYearCHD and currentSmoker. Use currentSmoker as the 3rd dimension/input.

In [19]:
framingham_data$cigsPerDay[framingham_data$cigsPerDay < 10] <- 0 
framingham_data$cigsPerDay[framingham_data$cigsPerDay >= 10] <- 1

In [20]:
# Code for activity 6 goes here....
xtabs(~cigsPerDay + TenYearCHD + currentSmoker,framingham_data)

, , currentSmoker = 0

          TenYearCHD
cigsPerDay    0    1
         0 1834  311
         1    0    0

, , currentSmoker = 1

          TenYearCHD
cigsPerDay    0    1
         0  433   53
         1 1302  278

In [43]:
# P( risk of CHD | subject smokes <10 cigs ) = P( risk of CHD and subject smokes <10 cigs)/ P(subject smokes <10 cigs)
# Enter your answer for Activity 6 -----

# ((current smokers who smoke less than 10 cigs with CHD risk = 53) + (non current smokers who smoke less than 10 cigs who have CHD risk = 311)) / total number of people that smoke less than 10 cigs = (1834 + 311 + 433 + 53) = 2631  

#364 / 2631

act6 = 364 / 2631
act6

# answer = 0.138350437096161

[1] 0.1383504

<span style="color:#1871d6; font-weight:400">Activity 7.a: </span> Find out the probability of randomly selected subject to have the risk of coronary heart disease given that the subject has totChol > 300 and has BMI >30. 

<span style="color:#1871d6; font-weight:400">Activity 7.b: </span> Find out the probability of randomly selected subject to have the risk of coronary heart disease given that the subject has totChol > 300 and has BMI < 30. 

**Hint:** Use a 3-way table. Use BMI as the 3rd dimension/input.

In [71]:
framingham_data <- read.csv("/dsa/data/all_datasets/framingham/framingham.csv")

head(framingham_data)

  male age education currentSmoker cigsPerDay BPMeds prevalentStroke
1 1    39  4         0              0         0      0
2 0    46  2         0              0         0      0
3 1    48  1         1             20         0      0
4 0    61  3         1             30         0      0
5 0    46  3         1             23         0      0
6 0    43  2         0              0         0      0
  prevalentHyp diabetes totChol sysBP diaBP BMI   heartRate glucose TenYearCHD
1 0            0        195     106.0  70   26.97 80         77     0
2 0            0        250     121.0  81   28.73 95         76     0
3 0            0        245     127.5  80   25.34 75         70     0
4 1            0        225     150.0  95   28.58 65        103     1
5 0            0        285     130.0  84   23.10 85         85     0
6 1            0        228     180.0 110   30.30 77         99     0

In [74]:
framingham_data$BMI[framingham_data$BMI < 30] <- 0 
framingham_data$BMI[framingham_data$BMI > 30] <- 1 
head(framingham_data)

  male age education currentSmoker cigsPerDay BPMeds prevalentStroke
1 1    39  4         0              0         0      0
2 0    46  2         0              0         0      0
3 1    48  1         1             20         0      0
4 0    61  3         1             30         0      0
5 0    46  3         1             23         0      0
6 0    43  2         0              0         0      0
  prevalentHyp diabetes totChol sysBP diaBP BMI heartRate glucose TenYearCHD
1 0            0        195     106.0  70   0   80         77     0
2 0            0        250     121.0  81   0   95         76     0
3 0            0        245     127.5  80   0   75         70     0
4 1            0        225     150.0  95   0   65        103     1
5 0            0        285     130.0  84   0   85         85     0
6 1            0        228     180.0 110   1   77         99     0

In [75]:
framingham_data$totChol[framingham_data$totChol < 300] <- 0 
framingham_data$totChol[framingham_data$totChol > 300] <- 1 
head(framingham_data)

  male age education currentSmoker cigsPerDay BPMeds prevalentStroke
1 1    39  4         0              0         0      0
2 0    46  2         0              0         0      0
3 1    48  1         1             20         0      0
4 0    61  3         1             30         0      0
5 0    46  3         1             23         0      0
6 0    43  2         0              0         0      0
  prevalentHyp diabetes totChol sysBP diaBP BMI heartRate glucose TenYearCHD
1 0            0        0       106.0  70   0   80         77     0
2 0            0        0       121.0  81   0   95         76     0
3 0            0        0       127.5  80   0   75         70     0
4 1            0        0       150.0  95   0   65        103     1
5 0            0        0       130.0  84   0   85         85     0
6 1            0        0       180.0 110   1   77         99     0

In [76]:
xtabs(~totChol + TenYearCHD + BMI,framingham_data)

, , BMI = 0

       TenYearCHD
totChol    0    1
    0   2894  457
    1    214   58
    300   14    6

, , BMI = 1

       TenYearCHD
totChol    0    1
    0    383   91
    1     38   11
    300    3    0

, , BMI = 30

       TenYearCHD
totChol    0    1
    0      1    2
    1      0    0
    300    0    0

In [78]:
# Enter your answer for Activity 7.a (BMI > 30) -----  
# P( risk of CHD | subject has totChol > 300 ) = P( risk of CHD and subject has totChol > 300 )/ P(subject has totChol > 300 )
# number of people with totChol > 300 and BMI > 30 who have CHD risk (11) / (total number of people with BMI > 30 and totChol > 300 = (38+11) = 49)
act7a <- 11/49
act7a

# answer = 0.224489795918367

[1] 0.2244898

In [80]:
# Enter your answer for Activity 7.b (BMI < 30) -----  
# P( risk of CHD | subject has totChol > 300 ) = P( risk of CHD and subject has totChol > 300 )/ P(subject has totChol > 300 )

#number of people who have BMI < 30 and totChol > 300 who have CHD risk (58) / total number of people who have totChol > 300 and BMI < 30 (58+214)

act7b = 58 /(58+214)
act7b

#answer = 0.213235294117647

[1] 0.2132353